@import '_mixins.scss';
@import '_variables.scss';

@font-face {
	font-family: 'Onest';
	src:local('OnestLight'),
      local('Onest-Light'), 
      url('../fonts/OnestLight1602-hint.woff') format('woff');
    font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src:local('OnestRegular'),
      local('Onest-Regular'), 
      url('../fonts/OnestRegular1602-hint.woff') format('woff');
      font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src:local('OnestMedium'),
      local('Onest-Medium'), 
      url('../fonts/OnestMedium1602-hint.woff') format('woff');
      font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src:local('OnestBold'),
      local('Onest-Bold'), 
      url('../fonts/OnestBold1602-hint.woff') format('woff');
    font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src:local('OnestExtraBold'),
      local('Onest-ExtraBold'), 
      url('../fonts/OnestExtraBold1602-hint.woff') format('woff');
    font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Onest';
	src:local('OnestBlack'),
      local('Onest-Black'), 
      url('../fonts/OnestBlack1602-hint.woff') format('woff');
    font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src:local('ManropeRegular'),
      local('Manrope-Regular'), 
      url('../fonts/manrope-regular-webfont.woff') format('woff');
    font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
	src:local('ManropeBold'),
      local('Manrope-Bold'), 
      url('../fonts/manrope-bold-webfont.woff') format('woff');
    font-display: swap;
	font-weight: 700;
	font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $MainColorText;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: $FontFamily;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  @include Container;
  position: relative;
}

// Header

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &__container {
    display: flex;
    min-height: 130px;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__address {
    flex: 0 0 auto;
    position: relative;
    margin-right: 167px;
    padding-left: 25px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #BABABA;
  }
      
  &__city {
    flex: 0 0 auto;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: $AdditionalColorText;
  }   

  &__social-whatsapp {
    flex: 0 0 auto;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 1px solid #EEEEEE;
    @include set_hover($time);

    &:hover {
      background: #5c9930;
      
      path {
        fill: white
      }
    }
  
      .social-whatsapp__logo {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
  }

  &__social-telegram {
    flex: 0 0 auto;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 1px solid #EEEEEE;
    @include set_hover($time);

      &:hover {
        background: #5c9930;
        
        path {
          fill: white
        }
      }
  
      .social-telegram__logo {
        position: absolute;
        fill:inherit;
        stroke:inherit;
        top: 12px;
        left: 11px;
        right: 13px;
        bottom: 13px;
      }
  }
    
  &__phone-main {
    flex: 0 0 auto;
    font-family: Manrope, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-right: 20px;
  }

  &__phone-additional {
      flex: 0 0 auto;
      font-family: Manrope, Sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-right: 38px;
  }

  &__phone-mask {
      font-family: Manrope, Sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $AdditionalColorText;
  }

&__address::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 18px;
  top: -2px;
  left: 0px;
  background: url(../images/svg/Group.svg);
}

&__question-button {
    flex: 0 0 auto;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: $SecondColorText;
    background:  linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
    border-radius: 100px;
    padding: 8px 26px 11px 26px;
    @include set_hover($time);

    &:hover {
      opacity: 75%;
    }
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    
    &:not(last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    position: relative;
    font-family: $FontFamily;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: $MainColorText;
    @include set_hover($time);
  }

  &-catalog {
    position: relative;

    &:hover > &__list {
      opacity: 1;
    }

    &__list {
      display: block;
      position: absolute;
      width: 186px;
      left: -20px;
      top: 130%;
      padding: 7px 0;
      background: $SecondColorText;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(55, 55, 55, 0.12);
      border-radius: 10px;
      @include set_hover(0.5s);
      opacity: 0;

      &::before {
        position: absolute;
        content: "";
        width: 146px;
        height: 4px;
        top: 0px;
        left: 20px;
        background: url(../images/svg/menu-catalog__line.svg);
      }
    }

    &__item {
      display: block;
      width: 100%;
    }

    &__link {
      display: block;
      padding: 13px 20px;
      text-align: start;
      font-family: $MainColorText;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: $MainColorText;
      @include set_hover($time);


      &:hover {
        background: #F7F7F7;
      }
    }
  }
}

.menu__link:hover {
  color: #5c9930;
}

.menu__checkmark::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 10px;
  top: 7px;
  left: -14px;
  background: url(../images/svg/Union.svg);
}

// Title

.title {
  background: linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
  padding-top: 78px;
  height: 600px;

  &__heading-start{
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 33px;
    text-transform: uppercase;
    color: $SecondColorText;
  }

  &__heading-middle {
    margin: 3px 0 10px 0;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 53px;
    text-transform: uppercase;
    color: $SecondColorText;

    &-brown {
      color: #F9B968;
    }
  }

  &__heading-end {
    margin-bottom: 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    color: $SecondColorText;
  }

  &__heading-description {
    margin-bottom: 51px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    color: $SecondColorText;
  }

  .heading-description-strong {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 24px;
    color: $SecondColorText;
  }

  &__background-spiral {
    position: absolute;
    top: -76px;
    right: -190px;
  }

  &__background-package {
    position: absolute;
    top: 35px;
    right: 65px;
    width: 385px;
    height: 400px;
  }
}

.title-form {
  position: relative;
  width: 540px;
  padding: 25px 30px;
  left: 0;
  top: 0;
  border: 0;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);

  &__name {
    margin-bottom: 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 29px;
    color: $MainColorText;
  }
  
  &__items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__input {
    position: relative;
    flex: 0 0 235px;

    :focus {
      outline: none !important;
    }
  }

  &__imput::placeholder {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #B0B0B0;
  }

  .imput__button {
    cursor: pointer;
    width: 480px;
    height: 50px;
    margin-bottom: 10px;
    font-family: $FontFamily;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.12em;
    border: 0;
    border-radius: 6px;
    color: $SecondColorText;
    background: #FF620A;
    @include set_hover($time);

     &:hover {
      background: darken(#FF620A, 10);
    }
  }
  
  .imput__name {
      width: 100%;
      padding: 15px 20px;
      border: 0;
      border-radius: 6px;
      background: #F7F7F7;
      border-radius: 10px;
  }
  
  .imput__phone {
    width: 100%;
    padding: 15px 20px;
    border: 0;
    border-radius: 6px;
    background: #F7F7F7;
    border-radius: 10px;
  }

  &__description {
    display: block;
    text-align: center;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #BCBCCD;
  }
}

.ecobag {
  padding: 80px 0;
  &-heading {
    margin-bottom: 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: $MainColorText;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-heading::after {
    position: relative;
    display: inline-block;
    content: "";
    top: -8px;
    left: 0px;
    width: 169px;
    height: 3px;
    background: url(../images/svg/ecobag-line.svg);
  }

  &-description__start {
    margin-bottom: 15px;
    width: 590px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    color: #626262;
  }

  &-description__end {
    margin-bottom: 44px;
    width: 590px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    color: #626262;
  }

  &-cards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &-cards__item {
    flex: 0 0 190px;
    width: 190px;
    padding: 20px 20px;
    background: $SecondColorText;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
    border-radius: 10px;
  }

  &-cards__heading {
    margin-top: 10px;
    width: 150px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: $MainColorText;
  }

  &-cards__description {
    margin-top: 6px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    width: 150px;
    color: $MainColorText;
  }

  &-gallery {
    display: flex;
    flex-wrap: wrap;
    top: -300px;
    right: -650px;
    width: 500px;
    height: 500px;

    &__play {
      position: absolute;
      top: 40px;
      left: 66px;

      path {
        @include set_hover($time);
      }

      &:hover {
        path {
          fill: darken(#FF620A, 10);
        }
      }
    }

    &__top {
      position: relative;
      flex: 0 0 50%;
      width: 240px;
      height: 160px;
    }

    &__middle {
      flex: 0 0 100%;
      width: 490px;
      height: 160px;
      margin: 10px 0;
    }

    &__bottom {
      flex: 0 0 50%;
      width: 240px;
      height: 160px;
    }
  }
}

.catalog {
  padding: 80px 0;
  background: #F7F7F7;

  &-content__top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 24px;
  }

  &-heading {
    margin-right: 20px;
    display: block;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
  }

  &-all {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 20px 11px 19px ;
    background: #E2E2E2;
    color: $MainColorText;
    border-radius: 100px;
    @include set_hover($time);

    &:hover {
      background: darken(#E2E2E2,20);
    }
  }

  &-slider {
    overflow: hidden;
    width: 1199px;
  }

  &-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 450px;
    left: -90px;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    @include set_hover($time);


    &:hover {
      background: $AdditionalColorText;
      &::after {
        color: #ffffff;
      }
    }
  }

  &-next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 450px;
    right: -110px;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    @include set_hover($time);

    &:hover {
      background: $AdditionalColorText;
      &::after {
        color: #ffffff;
      }
    }
  }

  &-prev::after,
  &-next::after {
    font-size: 34px;
    color: $MainColorText;
  }

  &-goods {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 -16px 40px -16px;

    &__name {
      margin-bottom: 10px;
    }

    &__item {
      position: relative;
      flex: 0 0 390px;
      margin: 0 8px;
      padding: 30px 30px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 23px;
      line-height: 29px;
      color: $MainColorText;
      background: $SecondColorText;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
      border-radius: 10px;
      @include set_hover($time);

      &:hover {
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
      }
    }

    &__left {
      position: relative;
      z-index: 2;
    }

    &__right {
      position: absolute;
      top: 20px;
      right: 25px;
    }

    &__line {
      display: block;
      margin-bottom: 20px;
      width: 50px;
      height: 3px;
    }

    &__more {
      width: 110px;
      height: 36px;
      top: 91px;
      left: 30px;
      padding: 9px 19px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: $SecondColorText;
      background: linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
      border-radius: 100px;
    }

    &__paper {
      width: 120px;
      height: 120px;
    }
  }

  &-products {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &-products__item {
    flex: 0 0 230px;
    width: 230px;
    margin: 25px 0;
    padding: 20px 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: $MainColorText;
    background: $SecondColorText;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
    border-radius: 10px;
    @include set_hover($time);

    &:hover {
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
    }
  }

  &-products__img {
    display: block;
    margin: 0 auto 24px;
  }
  
  &-products__capacity {
    margin-bottom: 10px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: $AdditionalColorText;
  }

  &-products__description {
    display: flex;
    flex-wrap: nowrap;
  }

  &-products__feature {
    flex: 0 0 30%;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    color: #626262;
  }

    &-products__value {
    flex: 0 0 70%;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: end;
    color: #626262;
  }

  &-products__layers {
    margin-bottom: 14px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    color: #626262;
  }

  &-products__order {
    bottom: 20px;
    left: 20px;
    width: 145px;
    height: 36px;
    padding: 8px 21px 11px 19px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: $SecondColorText;
    background: linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
    border-radius: 100px;
  }
}

.clients {
  padding: 60px 0 138px;

  &-content__top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-heading {
    margin-right: 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
  }

  &-all {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 18px 11px 19px ;
    background: #E2E2E2;
    color: $MainColorText;
    border-radius: 100px;
    @include set_hover($time);

    &:hover {
      background: darken(#E2E2E2,20);
    }
  }

  &-products {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-list {
    width: 1200px;
    margin-top: 30px;
  }

  &-slider {
    overflow: hidden;
  }

  &-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 200px;
    left: -90px;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    @include set_hover($time);

    &:hover {
      background: $AdditionalColorText;
      &::after {
        color: #ffffff;
      }
    }
  }

  &-next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 200px;
    right: -110px;
    border: 1px solid #E6E6E6;
    border-radius: 100%;
    @include set_hover($time);

    &:hover {
      background: $AdditionalColorText;
      &::after {
        color: #ffffff;
      }
    }
  }

  &-prev::after,
  &-next::after {
    font-size: 34px;
    color: $MainColorText;
  }

  &-item {
    position: relative;
    flex: 0 0 190px;
    width: 190px;
    background: $SecondColorText;

    &:hover .clients-item__img {
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
    }

    &__img {
      position: relative;
      height: 190px;
      border-radius: 10px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
      margin-bottom: 20px;
      @include set_hover($time);
    }

    .item-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      @include set_center_wh();
      max-height: 80%;
      max-width: 80%;
    }
  }

  &-item__name {
    position: relative;
    text-align: center;
    width: 190px;
  }
}

.request {
  padding-bottom: 90px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &-background {
    position: relative;
    width: 1200px;
    height: 420px;
    padding: 40px;
    background: linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
    border-radius: 20px;

    &__img {
      position: absolute;
      top: -32px;
      right: 15px;
    }
  }

  &-heading {
    &__start {
      width: 352px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 34px;
      color: $SecondColorText;
      margin-bottom: 20px;
    }

    &__brown {
      color: #F9B968;
    }

    &__end {
      width: 300px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 900;
      font-size: 56px;
      line-height: 53px;
      color: $SecondColorText;
      margin-bottom: 20px;
    }

    &__description {
      width: 267px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 19px;
      line-height: 27px;
      color: $SecondColorText;
    }

    &__strong {
      font-weight: 900;
    }
  }

  &-form {
    width: 320px;
    padding: 31px 40px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    &__name {
      text-align: center;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 32px;
      color: $MainColorText;
    }

    &__note {
      text-align: center;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $AdditionalColorText;
    }

    &__body {
      margin-top: 13px;
      margin-bottom: 8px;
    }

    &__items {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__input {
      margin-bottom: 10px;
      :focus {
        outline: none !important;
      }
    }

    &__imput::placeholder {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #B0B0B0;
      }

    .imput__button {
      cursor: pointer;
      width: 240px;
      height: 50px;
      padding: 0;
      font-family: $FontFamily;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      border: 0;
      border-radius: 6px;
      color: $SecondColorText;
      background: #FF620A;
      @include set_hover($time);

      &:hover {
        background: darken(#FF620A, 10);
      }
    }

    .imput__name {
      width: 100%;
      padding: 15px 20px;
      border: 0;
      border-radius: 6px;
      background: #F7F7F7;
      border-radius: 10px;
      text-align: center;
    }
      
    .imput__phone {
      width: 100%;
      padding: 15px 20px;
      border: 0;
      border-radius: 6px;
      background: #F7F7F7;
      border-radius: 10px;
      text-align: center;
    }

    &__description {
      display: inline-block;
      text-align: center;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #BCBCCD;
    }
  }
}

.footer {
  padding: 90px 0 125px;
  background-color: $MainColorText;

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__address {
      position: relative;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #BABABA;
    }

    &__address::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 18px;
      top: -3px;
      left: -22px;
      background: url(../images/svg/footer-content__city.svg);
    }

    &__city {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: $AdditionalColorText;
    }


    &__logo {
      position: relative;
      top: -20px;
      left: 0;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-menu {
    display: flex;

    &__link {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: $SecondColorText;
      @include set_hover($time);

      &:hover {
        color: #52892B;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 11px;
    }

    &__catalog {
      display: block;
    }
  }

  &-catalog__item:not(:last-child) {
    margin-bottom: 11px;
  }

  &-catalog__main {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: $SecondColorText;
    @include set_hover($time);

    &:hover {
      color: #52892B;
    }
  }

  &-catalog__link {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #B0B0B0;
    @include set_hover($time);

    &:hover {
      color: #52892B;
    }
  }

  &-phone {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    &-mask {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #639E2D;
    }

    &-main {
      display: block;
      margin-right: 32px;
      color: $SecondColorText;
    }

    &-additional {
      display: block;
      color: $SecondColorText;
    }
  }

  &-social {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;

    &-whatsapp {
      display: block;
      position: relative;
      flex: 0 0 auto;
      margin-left: 20px;
      margin-right: 10px;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: 1px solid #464646;
      @include set_hover($time);

      &:hover {
        background: #5c9930;
      }

      .footer-whatsapp__logo {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }

    &-telegram {
      display: block;
      position: relative;
      flex: 0 0 auto;
      margin-right: 57px;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: 1px solid #464646;
      @include set_hover($time);

      &:hover {
        background: #5c9930;
      }

      .footer-telegram__logo {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }

    &-button {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: $SecondColorText;
      background:  linear-gradient(89.65deg, #52892B 0%, #60A32F 100%);
      border-radius: 100px;
      padding: 8px 26px 11px 26px;
      @include set_hover($time);

      &:hover {
        opacity: 75%;
      }
    }
  }


  &-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &-copyright {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #6A6A6A;
  }

  &-seolead {
    display: flex;
    align-items: center;

    &__item {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #6A6A6A;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}


.header-contacts {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
}

.contacts {
  padding: 30px 0 688px;

  &-heading {
    font-family: $FontFamily;
    margin: 10px 0 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: $MainColorText;
  }

  &-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__left {
      flex: 0 0 193px;
    }

    &__right {
      flex: 0 0 850px;
    }

    &__heading {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: $MainColorText;
    }

    &__numbers {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__item {
      position: relative;
      flex: 0 0 33%;
      
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__tel {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      color: $MainColorText;
    }

    .contacts__phone-mask {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      color: $AdditionalColorText;
    }

    &__address {
      display: flex;
      flex-direction: column;

      .contacts-address__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 50%;
        
        .contacts-city {
          font-family: $FontFamily;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 19px;
          color: $MainColorText;
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      .contacts-address__logo {
        flex: 0 0 auto;
      }

      .contacts-address__text {
        flex: 0 0 150px;
      }
    }
  }
}

.home {
  display: inline-block;
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: $MainColorText;
  padding: 4px 12px 5px 11px;
  background: #F0F0F0;
  border-radius: 100px;
  @include set_hover($time);

  &:hover {
    background: darken(#E2E2E2,20);
  }
}

#map-contacts {
  height: 514px;
  width: 850px;
}

#map-contacts > ymaps {
  border-radius: 15px;
  overflow: hidden;
}

.header-about {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
}

.about {
  padding: 30px 0 688px;

  &-heading {
    margin: 30px 0;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: $MainColorText;
  }
}

.header-delivery {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
}

.delivery {
  padding: 30px 0 147px;

  &-heading {
    margin: 30px 0;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: $MainColorText;

    &__description {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 33px;
      color: $MainColorText;
    }
  }

  &-payment {
    margin: 20px -15px 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex: 0 0 585px;
      width: 585px;
      padding: 20px 20px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
      border-radius: 10px;
    }

    &__logo {
      flex: 0 0 56px;
      width: 56px;
    }

    &__text {
      flex: 0 0 469px;
      width: 469px;
    }

    &__heading {
      margin-bottom: 6px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      color: $MainColorText;
    }

    &__description {
      margin-bottom: 20px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      color: #626262;
    }

    &__types {
      display: flex;
      flex-wrap: nowrap;
    }

    .delivery-types__logo {
      flex: 0 0 60px;
      width: 60px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &-types {
    margin-bottom: 20px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: $MainColorText;

    &__content {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__item {
      display: flex;
      align-items: center;
      flex: 0 0 380px;
      width: 380px;
      padding: 20px 20px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
      border-radius: 10px;
    }

    &__number {
      width: 56px;
      margin-right: 20px;
      text-align: center;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 27px;
      line-height: 34px;
      color: $SecondColorText;
      padding: 11px 0;
      background: $AdditionalColorText;
      background: #639E2D;
      border-radius: 100%;
    }
  }

  &-text__heading {
    margin-bottom: 6px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: $MainColorText;
  }

  &-text__description {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #626262;
  }
}

.map-heading {
  margin-bottom: 20px;
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  color: $MainColorText;
}

#map-delivery {
  width: 1180px;
  height: 500px;
}

.header-stuff {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 12px 20px rgba(55, 55, 55, 0.04);
}

.stuff {
  padding: 30px 0 688px;

  &-heading {
    margin: 30px 0;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: $MainColorText;
  }
}