@import '_mixins.scss';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

body {
    margin-top: 80px;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    @include Container;
    position: relative;
}

.heading__small {
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: $MainColorText;
}

.heading__big {
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 110%;
  color: $MainColorText;
}

// Header

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: white;
  box-shadow: 0px 5.33333px 80px rgba(0, 0, 0, 0.1);

  &-background {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;

    &__left {
      flex: 0 0 75px;
      width: 150px;

      .header-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__img {
          width: 35px;
          height: 100%;
          object-fit: contain;
          overflow: hidden;
        }

        .header-name {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 23px;
          line-height: 21px;
          color: $MainColorText;
        }
      }
    }

    &__center {
      flex: 0 0 500px;
      .menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
          flex: 0 0 auto;
        }

        &__link {
          font-family: $FontFamily;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: $MainColorText;
          @include set_hover($time);

          &:hover {
            color: $SecondColorText;
          }
        }
      }
    }

    &__right {
      flex: 0 0 auto;
      .header__button {
        padding: 10px 15px;
        font-family: $FontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        color: $SecondColorText;
        border: 2px solid #5E3BEE;
        border-radius: 10px;
        @include set_hover($time);

        &:hover {
          color: $AdditionalColorText;
          background: $SecondColorText;
        }
      }
    }
  }
}

// Title

.title {
  padding: 230px 0;
  background: #F5FCFF;

  &-background__back {
    position: absolute;
    object-fit: contain;
    top: -30px;
    right: 80px;
    width: 550px;
    height: 550px;
    background-color: #cae0eb;
    border-radius: 100px;
    box-shadow: 12px 12px 13px 2px rgba(34, 60, 80, 0.2);
  }

  &-background__front {
    position: absolute;
    object-fit: contain;
    top: 50px;
    right: 105px;
    width: 320px;
    border-radius: 80px;
    border: 5px solid #5E3BEE;
    box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  }

  &-background__name {
    position: absolute;
    top: 360px;
    right: 80px;
    padding: 20px 30px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: $AdditionalColorText;
    background: $SecondColorText;
    border-radius: 25px;
    z-index: 3;
    box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  }

  .title-more__button {
    position: absolute;
    text-align: center;
    top: 368px;
    right: 465px;
    width: 65px;
    height: 65px;
    background: #5E3BEE;
    border-radius: 15px;
    animation: title-more__button 5s linear 2s infinite;
    box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
    @include set_hover($time);

    &:hover {
      cursor: pointer;
      background: $MainColorText;
    } 
  }

  @keyframes title-more__button {
    2% {
      transform: rotate(-10deg);
    }

    3% {
      transform: rotate(10deg);
    }

    4% {
      transform: rotate(-10deg);
    }

    5% {
      transform: rotate(10deg);
    }

    6% {
      transform: rotate(0deg);
    }
  }

  .title-more__icon {
    padding-top: 15px;
    font-family: 'Font Awesome 5 Free';
    font-size: 28px;
    font-weight: 600;
    color: white;
  }

  .title-about {
    position: absolute;
    padding: 15px;
    top: 450px;
    right: -15px;
    width: 600px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #3333334f;
    z-index: 2;
    @include set_transform(scale(0));
    transition: all ease 0.3s;

    &.active {
      @include set_transform(scale(1));
    }

    &__heading {
      margin-bottom: 25px;
      text-align: center;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $MainColorText;
    }

    &__description {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__row {
      display: flex;
      flex: 0 0 100%;
      margin-bottom: 10px;
    }

    &__item {
      flex: 0 0 auto;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: $MainColorText;
    }

    &__dotted {
      flex: 1 1 33.33%;
      border-bottom: 2px dotted #ababab;
      opacity: 30%;
    }
  }

  &-background__css {
    position: absolute;
    top: 0;
    right: 105px;
    width: 100px;
    opacity: 10%;
    transform: rotate(20deg);
  }

  &-background__html {
    position: absolute;
    top: 5px;
    right: 505px;
    width: 90px;
    opacity: 10%;
    transform: rotate(-20deg);
  }

  &-content {
    position: relative;
    width: 620px;
    margin-bottom: 53px;
    z-index: 2;
    .title-heading__start {
      margin-bottom: 20px;
    }

    .title-heading__purple {
      color: $SecondColorText;
    }

    .title-heading__end {
      margin-bottom: 20px;
    }

    .title-heading__description {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: $MainColorText;
    }
  }

  &-contact__button {
    padding: 18px 25px;
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: $AdditionalColorText;
    background: $SecondColorText;
    border-radius: 6px;
    box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
    @include set_hover($time);

    &:hover {
      background: $MainColorText;
    } 
  }
}

// ABOUT

.about {
  padding: 150px 0;

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__left {
      flex: 0 0 500px;

      .about-background {
        width: 500px;
        height: 356px;
      }
    }

    &__right {
      flex: 0 0 calc(100% - 500px);
      width: calc(100% - 500px);
      padding-left: 150px;

      .about-heading__small {
        margin-bottom: 10px;
      }

      .about-heading__big {
        margin-bottom: 30px;
      }

      .about-text {
        font-family: $FontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: $MainColorText;
      }
    }
  }
}

// SKILL

.skill {
  padding: 150px 0;
  background: #F5FCFF;

  &-heading__small {
    margin-bottom: 10px;
  }

  &-heading__big {
    margin-bottom: 105px;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &-hard {
    overflow: hidden;
    margin-bottom: 50px;

    &__content {
      margin-bottom: 20px;
    }
  }

  &-soft {
    overflow: hidden;
    margin-bottom: 50px;

    &__content {
      margin-bottom: 20px;
    }
  }

  .skill-soft-prev {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 950px;
    left: -65px;
    background-color: #5E3BEE;
    border-radius: 15px;
    @include set_hover($time);

    &:hover {
      background: $MainColorText;
    }

    &::after {
      font-size: 32px;
      color: white;
    }
  }

  .skill-soft-next {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 950px;
    right: -65px;
    background-color: #5E3BEE;
    border-radius: 15px;
    @include set_hover($time);

    &:hover {
      background: $MainColorText;
    }

    &::after {
      font-size: 32px;
      color: white;
    }
  }

  .skill-soft-pagination {
    display: block;
    width: 100px;
    margin: 0 auto;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: #5E3BEE;
    }
  }

  .skill-hard-prev {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 450px;
    left: -65px;
    background-color: #5E3BEE;
    border-radius: 15px;
    @include set_hover($time);

    &:hover {
      background: $MainColorText;
    }

    &::after {
      font-size: 32px;
      color: white;
    }
  }

  .skill-hard-next {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 450px;
    right: -65px;
    background-color: #5E3BEE;
    border-radius: 15px;
    @include set_hover($time);

    &:hover {
      background: $MainColorText;
    }

    &::after {
      font-size: 32px;
      color: white;
    }
  }

  .skill-hard-pagination {
    display: block;
    width: 100px;
    margin: 0 auto;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: #5E3BEE;
    }
  }

  &__item {
    height: unset;
    padding: 32px;
    background: #cae0eb;
    border-radius: 11px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    @include set_hover($time);

    &:hover {
      box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
    }

    .skill-logo {
      display: block;
      margin: 0 auto;
      width: 90px;
      margin-bottom: 32px;
      padding: 10px;
      border-radius: 11px;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      background: white;
    }

    .skill__img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }

    .skill__name {
      text-align: center;
      margin-bottom: 10px;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: #282938;
    }

    .skill-soft__name {
      font-size: 20px;
    }

    .skill__description {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: $MainColorText;
    }
  }
}

// Portfolio

.portfolio {
  padding: 150px 0;

  &-content__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  &-content__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20px;

    .portfolio-item {
      flex: 0 0 calc(33.33% - 40px);
      width: calc(33.33% - 40px);
      margin: 0 20px 20px;
      background: #FFFFFF;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
      @include set_hover($time);

      &:hover {
        box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
        transform: scale(1.1);
      }

      &__img {
        position: relative;
        width: 100%;
        height: 270px;
      }

      &__logo {
        position: absolute;
        object-fit: contain;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__text {
        padding: 20px 20px 35px 20px;
      }

      &__heading {
        margin-bottom: 20px;
        font-family: $FontFamily;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        color: #282938;
      }

      &__description {
        margin-bottom: 35px;
        font-family: $FontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #1C1E53;
      }


      &__button {
        display: inline-block;
        padding: 10px 20px;
        font-family: $FontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        border-radius: 7px;
        background: #E62872;
      }
    }
  }

  .portfolio-heading__big {
    margin-bottom: 20px;
  }

  .portfolio-button {
    font-family: $FontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: $AdditionalColorText;
    padding: 21px;
    background: #E62872;
    box-shadow: 0px 2px 3px rgba(16, 24, 40, 0.05);
    border-radius: 11px;
    @include set_hover($time);

    &:hover {
      background: darken(#E62872, 10%);
    }
  }
}

// Media

.media {
  padding: 150px 0;
  background: #F5FCFF;

  &-heading {
    text-align: center;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 330px;
    margin: 70px auto 0;

    &__item {
      flex: 0 0 90px;
      height: 90px;
      margin: 0 10px 10px;
      border-radius: 100%;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
      @include set_hover($time);

      &:hover {
        box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
        transform: scale(1.1);
      }
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}

// Footer

.footer {
  padding: 70px 0;
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;

    &__item {
      flex: 0 0 auto;
    }

    &__link {
      font-family: $FontFamily;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $MainColorText;
      @include set_hover($time);

      &:hover {
        color: $SecondColorText;
      }
    }
  }
}