@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

body {
  margin-top: 80px;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.heading__small {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #1C1E53;
}

.heading__big {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 110%;
  color: #1C1E53;
}
@media (max-width: 576px) {
  .heading__big {
    font-size: 40px;
  }
}

.modal-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-window .modal-shadow {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.modal-window .modal-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 55px 60px 50px 60px;
  background: #fff;
  z-index: 10001;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6196078431);
  max-width: 690px;
  max-height: 100%;
  overflow-y: auto;
}
.modal-window .modal-content::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: white;
  background-size: contain;
  content: "";
  opacity: 0.02;
  z-index: -1;
}
.modal-window .modal-close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.modal-window .modal-close::after {
  position: absolute;
  content: "\f410";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: black;
  transition-property: all;
  transition-duration: 0.3s;
}
.modal-window .modal-close:hover::after {
  color: #E21E24;
}
.modal-window .modal-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #1C1E53;
  margin: 0 0 50px;
}
.modal-window .modal-title.small-margin {
  margin-bottom: 30px;
}
.modal-window .modal-text__item {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .modal-window .modal-content {
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    max-width: none;
    transform: none;
  }
}
@media (max-width: 500px) {
  .modal-window .modal-content {
    padding: 80px 15px 25px 15px;
  }
}

.menu__burger {
  display: block;
}

.menu__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.menu__burger.active .menu-burger__line {
  transform: scale(0);
}

@media (max-width: 992px) {
  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .menu__burger::before,
.menu__burger::after {
    content: "";
    background-color: #1C1E53;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::before {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu-burger__line {
    position: absolute;
    background-color: #1C1E53;
    width: 100%;
    left: 0;
    height: 2px;
    top: 45%;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  max-width: 500px;
  transition: all 0.3s ease 0s;
  z-index: 99999;
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu.active .mobile-menu__shadow {
  opacity: 1;
  pointer-events: all;
}
.mobile-menu__top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: white;
  z-index: 99999;
  border-bottom: 2px solid #1C1E53;
}
.mobile-menu__link {
  position: absolute;
  display: inline-block;
  height: auto;
  left: 15px;
  width: 185px;
}
.mobile-menu__logo {
  height: 55px;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mobile-menu__close {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 13px;
  text-transform: uppercase;
  color: #1C1E53;
  border: 2px solid #5E3BEE;
  right: 15px;
  border-radius: 25px;
}
.mobile-menu__content {
  position: absolute;
  left: 0;
  top: 80px;
  height: calc(100% - 80px);
  width: 100%;
  background: #fff;
  z-index: 99999;
  overflow: auto;
  padding-bottom: 40px;
}
.mobile-menu__item {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
  transition: all 0.3s ease 0s;
}
.mobile-menu__section {
  position: relative;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 100%;
  padding: 15px 60px 15px 20px;
  color: #373737;
  font-size: 16px;
  font-weight: 700;
}
.mobile-menu__shadow {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease 0s;
}

.lock {
  overflow: hidden;
}

.up-button {
  position: fixed;
  text-align: center;
  bottom: 50px;
  right: 100px;
  width: 60px;
  height: 60px;
  background: #5E3BEE;
  border-radius: 15px;
  z-index: 9999;
  transition: all 0.5s;
  opacity: 0;
}
.up-button.active {
  opacity: 1;
}
.up-button.active:hover {
  background: #1C1E53;
}
.up-button__icon {
  padding-top: 15px;
  font-family: "Font Awesome 5 Free";
  font-size: 28px;
  font-weight: 600;
  color: white;
}
.up-button:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  .up-button {
    right: 30px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: white;
  box-shadow: 0px 5.33333px 80px rgba(0, 0, 0, 0.1);
}
.header-background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}
.header-content__left {
  flex: 0 0 75px;
  width: 150px;
}
.header-content__left .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content__left .header-logo__img {
  width: 35px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.header-content__left .header-logo .header-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 21px;
  color: #1C1E53;
}
.header-content__center {
  flex: 0 0 500px;
}
.header-content__center .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content__center .menu-list__item {
  flex: 0 0 auto;
}
.header-content__center .menu-list__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1C1E53;
  transition-property: all;
  transition-duration: 0.7s;
}
.header-content__center .menu-list__link:hover {
  color: #5E3BEE;
}
.header-content__right {
  flex: 0 0 auto;
}
.header-content__right .header__button {
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #5E3BEE;
  border: 2px solid #5E3BEE;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.7s;
}
.header-content__right .header__button:hover {
  color: #FFFFFF;
  background: #5E3BEE;
}
@media (max-width: 992px) {
  .header .header__button {
    display: none;
  }
  .header .header-content__center {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .header-content {
    min-height: 80px;
  }
}

.title {
  padding: 230px 0;
  background: #F5FCFF;
}
.title-background__back {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: -30px;
  right: 80px;
  width: 550px;
  height: 550px;
  background-color: #cae0eb;
  border-radius: 100px;
  box-shadow: 12px 12px 13px 2px rgba(34, 60, 80, 0.2);
}
.title-background__front {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 50px;
  right: 105px;
  width: 320px;
  border-radius: 80px;
  border: 5px solid #5E3BEE;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
}
.title-background__name {
  position: absolute;
  top: 360px;
  right: 80px;
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #FFFFFF;
  background: #5E3BEE;
  border-radius: 25px;
  z-index: 3;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
}
.title .title-more__button {
  position: absolute;
  text-align: center;
  top: 368px;
  right: 465px;
  width: 65px;
  height: 65px;
  background: #5E3BEE;
  border-radius: 15px;
  -webkit-animation: title-more__button 5s linear 2s infinite;
          animation: title-more__button 5s linear 2s infinite;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  transition-property: all;
  transition-duration: 0.7s;
}
.title .title-more__button:hover {
  cursor: pointer;
  background: #1C1E53;
}
@-webkit-keyframes title-more__button {
  2% {
    transform: rotate(-10deg);
  }
  3% {
    transform: rotate(10deg);
  }
  4% {
    transform: rotate(-10deg);
  }
  5% {
    transform: rotate(10deg);
  }
  6% {
    transform: rotate(0deg);
  }
}
@keyframes title-more__button {
  2% {
    transform: rotate(-10deg);
  }
  3% {
    transform: rotate(10deg);
  }
  4% {
    transform: rotate(-10deg);
  }
  5% {
    transform: rotate(10deg);
  }
  6% {
    transform: rotate(0deg);
  }
}
.title .title-more__icon {
  padding-top: 15px;
  font-family: "Font Awesome 5 Free";
  font-size: 28px;
  font-weight: 600;
  color: white;
}
.title .title-about {
  position: absolute;
  padding: 15px;
  top: 450px;
  right: 20px;
  width: 600px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.3098039216);
  z-index: 2;
  transform: scale(0);
  transition: all ease 0.3s;
}
.title .title-about.active {
  transform: scale(1);
}
.title .title-about__heading {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1C1E53;
}
.title .title-about__description {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.title .title-about__row {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: 10px;
}
.title .title-about__item {
  flex: 0 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #1C1E53;
}
.title .title-about__dotted {
  flex: 1 1 33.33%;
  border-bottom: 2px dotted #ababab;
  opacity: 30%;
}
.title-background__css {
  position: absolute;
  top: 0;
  right: 105px;
  width: 100px;
  opacity: 10%;
  transform: rotate(20deg);
}
.title-background__html {
  position: absolute;
  top: 5px;
  right: 505px;
  width: 90px;
  opacity: 10%;
  transform: rotate(-20deg);
}
.title-content {
  position: relative;
  width: 620px;
  margin-bottom: 53px;
  z-index: 2;
}
.title-content .title-heading__start {
  margin-bottom: 20px;
}
.title-content .title-heading__purple {
  color: #5E3BEE;
}
.title-content .title-heading__end {
  margin-bottom: 20px;
}
.title-content .title-heading__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #1C1E53;
}
.title-contact__button {
  padding: 18px 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  background: #5E3BEE;
  border-radius: 6px;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  transition-property: all;
  transition-duration: 0.7s;
}
.title-contact__button:hover {
  background: #1C1E53;
}
@media (max-width: 1200px) {
  .title .title-content {
    width: 500px;
  }
  .title .title-heading__end {
    font-size: 60px;
  }
  .title .title-heading__br {
    display: none;
  }
}
@media (max-width: 992px) {
  .title .title-background__front {
    top: 60px;
    right: 25px;
    width: 200px;
    border-radius: 10px;
  }
  .title .title-background__name {
    top: 265px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  }
  .title .title-more__button {
    top: 220px;
    right: 175px;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    z-index: 5;
    box-shadow: unset;
  }
  .title .title-more__icon {
    padding-top: 10px;
    font-size: 16px;
  }
  .title .title-about {
    top: 330px;
  }
}
@media (max-width: 768px) {
  .title .title-background__front {
    top: -150px;
    right: 125px;
    width: 180px;
    opacity: 35%;
  }
  .title .title-more__button {
    display: none;
  }
  .title .title-background__name {
    display: none;
  }
}
@media (max-width: 576px) {
  .title {
    padding-bottom: 130px;
  }
  .title .title-content {
    width: 100%;
  }
  .title .title-heading__end {
    font-size: 35px;
  }
  .title .title-heading__description {
    font-size: 18px;
  }
}

.about {
  padding: 150px 0;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-content__left {
  flex: 0 0 500px;
}
.about-content__left .about-background {
  width: 100%;
  height: 100%;
}
.about-content__right {
  flex: 0 0 calc(100% - 500px);
  width: calc(100% - 500px);
  padding-left: 150px;
}
.about-content__right .about-heading__small {
  margin-bottom: 10px;
}
.about-content__right .about-heading__big {
  margin-bottom: 30px;
}
.about-content__right .about-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #1C1E53;
}
@media (max-width: 1200px) {
  .about .about-content__left {
    flex: 1 1 100%;
  }
  .about .about-content__right {
    padding: 0;
    flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 120px 0;
  }
  .about .about-text {
    font-size: 18px;
  }
}

.skill {
  padding: 150px 0;
  background: #F5FCFF;
}
.skill-heading__small {
  margin-bottom: 10px;
}
.skill-heading__big {
  margin-bottom: 105px;
}
.skill__heading {
  margin-bottom: 20px;
}
.skill .skill-slider {
  position: relative;
}
.skill-hard {
  overflow: hidden;
  margin-bottom: 50px;
}
.skill-hard__content {
  margin-bottom: 20px;
}
.skill-soft {
  overflow: hidden;
  margin-bottom: 50px;
}
.skill-soft__content {
  margin-bottom: 20px;
}
.skill .skill-soft-prev {
  position: absolute;
  height: 70px;
  width: 70px;
  left: -95px;
  background-color: #5E3BEE;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.7s;
}
.skill .skill-soft-prev:hover {
  background: #1C1E53;
}
.skill .skill-soft-prev::after {
  font-size: 32px;
  color: white;
}
.skill .skill-soft-next {
  position: absolute;
  height: 70px;
  width: 70px;
  right: -95px;
  background-color: #5E3BEE;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.7s;
}
.skill .skill-soft-next:hover {
  background: #1C1E53;
}
.skill .skill-soft-next::after {
  font-size: 32px;
  color: white;
}
.skill .skill-soft-pagination {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.skill .skill-soft-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #5E3BEE;
}
.skill .skill-hard-prev {
  position: absolute;
  height: 70px;
  width: 70px;
  left: -95px;
  background-color: #5E3BEE;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.7s;
}
.skill .skill-hard-prev:hover {
  background: #1C1E53;
}
.skill .skill-hard-prev::after {
  font-size: 32px;
  color: white;
}
.skill .skill-hard-next {
  position: absolute;
  height: 70px;
  width: 70px;
  right: -95px;
  background-color: #5E3BEE;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.7s;
}
.skill .skill-hard-next:hover {
  background: #1C1E53;
}
.skill .skill-hard-next::after {
  font-size: 32px;
  color: white;
}
.skill .skill-hard-pagination {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.skill .skill-hard-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #5E3BEE;
}
.skill__item {
  height: unset;
  padding: 32px;
  background: #cae0eb;
  border-radius: 11px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  transition-property: all;
  transition-duration: 0.7s;
}
.skill__item .skill-logo {
  display: block;
  margin: 0 auto;
  width: 90px;
  margin-bottom: 32px;
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  background: white;
}
.skill__item .skill__img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.skill__item .skill__name {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #282938;
}
.skill__item .skill-soft__name {
  font-size: 20px;
}
.skill__item .skill__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #1C1E53;
}
@media (max-width: 768px) {
  .skill .skill__item {
    padding: 32px 60px;
  }
  .skill .skill__name {
    font-size: 25px;
  }
  .skill .skill-soft__name {
    font-size: 14px;
  }
  .skill .skill__description {
    font-size: 18px;
  }
  .skill .skill-hard-prev {
    width: 50px;
    height: 50px;
    left: 0;
  }
  .skill .skill-hard-prev::after {
    font-size: 20px;
  }
  .skill .skill-hard-next {
    width: 50px;
    height: 50px;
    right: 0;
  }
  .skill .skill-hard-next::after {
    font-size: 20px;
  }
  .skill .skill-soft-prev {
    width: 50px;
    height: 50px;
    left: 0;
  }
  .skill .skill-soft-prev::after {
    font-size: 20px;
  }
  .skill .skill-soft-next {
    width: 50px;
    height: 50px;
    right: 0;
  }
  .skill .skill-soft-next::after {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .skill {
    padding-bottom: 90px;
  }
}

.portfolio {
  padding: 150px 0;
}
.portfolio-content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.portfolio-content__top .portfolio-heading {
  margin-right: 15px;
}
.portfolio-content__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.portfolio-content__bottom .portfolio-item {
  flex: 0 0 calc(33.33% - 40px);
  width: calc(33.33% - 40px);
  margin: 0 20px 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  transition-property: all;
  transition-duration: 0.7s;
}
.portfolio-content__bottom .portfolio-item:hover {
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  transform: scale(1.1);
}
.portfolio-content__bottom .portfolio-item__img {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 7px;
}
.portfolio-content__bottom .portfolio-item__logo {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.portfolio-content__bottom .portfolio-item__text {
  padding: 20px 20px 35px 20px;
}
.portfolio-content__bottom .portfolio-item__heading {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #282938;
}
.portfolio-content__bottom .portfolio-item__description {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #1C1E53;
}
.portfolio-content__bottom .portfolio-item__button {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  border-radius: 7px;
  background: #E62872;
}
.portfolio .portfolio-heading__big {
  margin-bottom: 20px;
}
.portfolio .portfolio-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 21px;
  background: #E62872;
  box-shadow: 0px 2px 3px rgba(16, 24, 40, 0.05);
  border-radius: 11px;
  transition-property: all;
  transition-duration: 0.7s;
}
.portfolio .portfolio-button:hover {
  background: #c4175a;
}
@media (max-width: 992px) {
  .portfolio .portfolio-item {
    flex: 0 0 calc(50% - 40px);
  }
}
@media (max-width: 768px) {
  .portfolio .portfolio-item {
    flex: 0 0 calc(100% - 40px);
  }
}
@media (max-width: 576px) {
  .portfolio {
    padding: 100px 0;
  }
}

.portfolio__blue {
  background: #F5FCFF;
}

.media {
  padding: 150px 0;
  background: #F5FCFF;
}
.media-heading {
  text-align: center;
}
.media-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  margin: 70px auto 0;
}
.media-content__item {
  flex: 0 0 65px;
  height: 65px;
  margin: 0 10px 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  transition-property: all;
  transition-duration: 0.7s;
}
.media-content__item:hover {
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
  transform: scale(1.1);
}
.media-content__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .media {
    padding: 75px 0;
  }
}

.footer {
  padding: 70px 0;
}
.footer .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}
.footer .menu-list__item {
  flex: 0 0 auto;
}
.footer .menu-list__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1C1E53;
  transition-property: all;
  transition-duration: 0.7s;
}
.footer .menu-list__link:hover {
  color: #5E3BEE;
}
@media (max-width: 768px) {
  .footer .footer-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */