*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

body {
  margin-top: 80px;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.heading__small {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #1C1E53;
}

.heading__big {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 110%;
  color: #1C1E53;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: white;
  box-shadow: 0px 5.33333px 80px rgba(0, 0, 0, 0.1);
}
.header-background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}
.header-content__left {
  flex: 0 0 75px;
  width: 150px;
}
.header-content__left .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content__left .header-logo__img {
  width: 35px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.header-content__left .header-logo .header-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 21px;
  color: #1C1E53;
}
.header-content__center {
  flex: 0 0 500px;
}
.header-content__center .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content__center .menu-list__item {
  flex: 0 0 auto;
}
.header-content__center .menu-list__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1C1E53;
}
.header-content__right {
  flex: 0 0 210px;
}
.header-content__right .header__button {
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #5E3BEE;
  border: 2px solid #5E3BEE;
  border-radius: 10px;
}

.title {
  padding: 230px 0;
  background: #F5FCFF;
}
.title-background__back {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: -30px;
  right: 80px;
  width: 550px;
  height: 550px;
  background-color: #cae0eb;
  border-radius: 100px;
  box-shadow: 12px 12px 13px 2px rgba(34, 60, 80, 0.2);
}
.title-background__front {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 50px;
  right: 120px;
  width: 320px;
  border-radius: 80px;
  border: 5px solid #5E3BEE;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
}
.title-background__name {
  position: absolute;
  top: 360px;
  right: 100px;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #FFFFFF;
  background: #5E3BEE;
  border-radius: 25px;
  z-index: 3;
  box-shadow: 8px 8px 15px -5px rgba(34, 60, 80, 0.6);
}
.title-background__css {
  position: absolute;
  top: 0;
  right: 105px;
  width: 100px;
  opacity: 10%;
  transform: rotate(20deg);
}
.title-background__html {
  position: absolute;
  top: 5px;
  right: 505px;
  width: 90px;
  opacity: 10%;
  transform: rotate(-20deg);
}
.title-content {
  position: relative;
  width: 600px;
  margin-bottom: 53px;
  z-index: 2;
}
.title-content .title-heading__start {
  margin-bottom: 20px;
}
.title-content .title-heading__purple {
  color: #5E3BEE;
}
.title-content .title-heading__end {
  margin-bottom: 20px;
}
.title-content .title-heading__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #1C1E53;
}
.title-contact__button {
  padding: 18px 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  background: #5E3BEE;
  border-radius: 6px;
}

.about {
  padding: 150px 0;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-content__left {
  flex: 0 0 500px;
}
.about-content__left .about-background {
  width: 500px;
  height: 356px;
}
.about-content__right {
  flex: 0 0 calc(100% - 500px);
  width: calc(100% - 500px);
  padding-left: 150px;
}
.about-content__right .about-heading__small {
  margin-bottom: 10px;
}
.about-content__right .about-heading__big {
  margin-bottom: 30px;
}
.about-content__right .about-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #1C1E53;
}

.skill {
  padding: 150px 0;
  background: #F5FCFF;
}
.skill-heading__small {
  margin-bottom: 10px;
}
.skill-heading__big {
  margin-bottom: 105px;
}
.skill__heading {
  margin-bottom: 20px;
}
.skill-hard {
  overflow: hidden;
  margin-bottom: 50px;
}
.skill-hard__content {
  margin-bottom: 20px;
}
.skill-soft {
  overflow: hidden;
  margin-bottom: 50px;
}
.skill-soft__content {
  margin-bottom: 20px;
}
.skill .skill-soft-prev {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 950px;
  left: -65px;
  background-color: #5E3BEE;
  border-radius: 15px;
}
.skill .skill-soft-prev::after {
  font-size: 32px;
  color: white;
}
.skill .skill-soft-next {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 950px;
  right: -65px;
  background-color: #5E3BEE;
  border-radius: 15px;
}
.skill .skill-soft-next::after {
  font-size: 32px;
  color: white;
}
.skill .skill-soft-pagination {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.skill .skill-soft-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #5E3BEE;
}
.skill .skill-hard-prev {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 450px;
  left: -65px;
  background-color: #5E3BEE;
  border-radius: 15px;
}
.skill .skill-hard-prev::after {
  font-size: 32px;
  color: white;
}
.skill .skill-hard-next {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 450px;
  right: -65px;
  background-color: #5E3BEE;
  border-radius: 15px;
}
.skill .skill-hard-next::after {
  font-size: 32px;
  color: white;
}
.skill .skill-hard-pagination {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.skill .skill-hard-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #5E3BEE;
}
.skill__item {
  height: unset;
  padding: 32px;
  background: #cae0eb;
  border-radius: 11px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}
.skill__item .skill-logo {
  display: block;
  margin: 0 auto;
  width: 90px;
  margin-bottom: 32px;
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  background: white;
}
.skill__item .skill__img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.skill__item .skill__name {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #282938;
}
.skill__item .skill-soft__name {
  font-size: 20px;
}
.skill__item .skill__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #1C1E53;
}

.portfolio {
  padding: 150px 0;
}
.portfolio-content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.portfolio-content__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.portfolio-content__bottom .portfolio-item {
  flex: 0 0 calc(33.33% - 40px);
  width: calc(33.33% - 40px);
  margin: 0 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
}
.portfolio-content__bottom .portfolio-item__img {
  position: relative;
  width: 100%;
  height: 270px;
}
.portfolio-content__bottom .portfolio-item__logo {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-content__bottom .portfolio-item__text {
  padding: 20px 20px 35px 20px;
}
.portfolio-content__bottom .portfolio-item__heading {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #282938;
}
.portfolio-content__bottom .portfolio-item__description {
  margin-bottom: 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #1C1E53;
}
.portfolio-content__bottom .portfolio-item__button {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  border-radius: 7px;
  background: #E62872;
}
.portfolio .portfolio-heading__big {
  margin-bottom: 20px;
}
.portfolio .portfolio-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 21px;
  background: #E62872;
  box-shadow: 0px 2px 3px rgba(16, 24, 40, 0.05);
  border-radius: 11px;
}
.portfolio .portfolio-button::before {
  content: "";
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(/images/svg/portfolio.svg);
          mask-image: url(/images/svg/portfolio.svg);
  background-color: #F5FCFF;
}

.media {
  padding: 150px 0;
  background: #F5FCFF;
}
.media-heading {
  text-align: center;
}
.media-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 330px;
  margin: 70px auto 0;
}
.media-content__item {
  flex: 0 0 90px;
  height: 90px;
  margin: 0 10px 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
}
.media-content__img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 70px 0;
}
.footer .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}
.footer .menu-list__item {
  flex: 0 0 auto;
}
.footer .menu-list__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1C1E53;
}/*# sourceMappingURL=style.css.map */